
  
  body {
  background: black;
  color: white;
  margin: 0;
  font-family: "Libre Baskerville", serif;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 60px;
  text-align: center;
}


.poster img {
  width: 100%;
  border: 5px solid white;
  box-sizing: border-box;
}

.poster h1 {
  text-transform: uppercase;
  margin: 20px 0 10px;
  font-size: 2rem;
}

.poster p {
  margin: 0;
  font-size: 1rem;
}
